# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/.idea/
/ios/Podfile.lock
/android/app/.cxx/Debug/568486e2/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/568486e2/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/568486e2/x86/additional_project_files.txt
/android/app/.cxx/Debug/568486e2/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/568486e2/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/568486e2/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/568486e2/x86/android_gradle_build.json
/android/app/.cxx/Debug/568486e2/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/568486e2/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/568486e2/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/568486e2/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/build.ninja
/android/app/.cxx/Debug/568486e2/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/568486e2/x86/build.ninja
/android/app/.cxx/Debug/568486e2/x86_64/build.ninja
/android/app/.cxx/Debug/568486e2/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/568486e2/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/568486e2/x86/build_file_index.txt
/android/app/.cxx/Debug/568486e2/x86_64/build_file_index.txt
/android/app/.cxx/Debug/568486e2/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/568486e2/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/568486e2/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/568486e2/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/568486e2/x86/.cmake/api/v1/reply/cache-v2-8a07514c3e2c971d4c80.json
/android/app/.cxx/Debug/568486e2/armeabi-v7a/.cmake/api/v1/reply/cache-v2-71ded94dabe0eb7fd7ea.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/.cmake/api/v1/reply/cache-v2-d5290db9f0da0a139b04.json
/android/app/.cxx/Debug/568486e2/x86_64/.cmake/api/v1/reply/cache-v2-dad8b7547efcbdccf16d.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/568486e2/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/568486e2/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/568486e2/x86/cmake_install.cmake
/android/app/.cxx/Debug/568486e2/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/568486e2/x86/CMakeCache.txt
/android/app/.cxx/Debug/568486e2/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/568486e2/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/568486e2/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/568486e2/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/568486e2/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/568486e2/x86/.cmake/api/v1/reply/cmakeFiles-v1-0c3ec32d893164b2c415.json
/android/app/.cxx/Debug/568486e2/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-315cbc6051460308080d.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-041224b00192c10f924b.json
/android/app/.cxx/Debug/568486e2/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-a1737d93fee4dd377002.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/568486e2/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/568486e2/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/568486e2/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/568486e2/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/568486e2/x86_64/.cmake/api/v1/reply/codemodel-v2-0e311eb8a04b6fdea8a7.json
/android/app/.cxx/Debug/568486e2/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-1a0b8b0e5a8f6b9b5be9.json
/android/app/.cxx/Debug/568486e2/x86/.cmake/api/v1/reply/codemodel-v2-59a1d3c8dbaba43858af.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-a1ecbe9e2d5f86856484.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/568486e2/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/568486e2/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/568486e2/x86_64/configure_fingerprint.bin
/devtools_options.yaml
/android/app/.cxx/Debug/568486e2/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/568486e2/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/568486e2/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/568486e2/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/568486e2/hash_key.txt
/android/app/.cxx/Debug/568486e2/arm64-v8a/.cmake/api/v1/reply/index-2025-03-28T07-11-22-0501.json
/android/app/.cxx/Debug/568486e2/armeabi-v7a/.cmake/api/v1/reply/index-2025-03-28T07-11-22-0811.json
/android/app/.cxx/Debug/568486e2/x86/.cmake/api/v1/reply/index-2025-03-28T07-11-23-0070.json
/android/app/.cxx/Debug/568486e2/x86_64/.cmake/api/v1/reply/index-2025-03-28T07-11-23-0330.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/568486e2/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/568486e2/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/568486e2/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/568486e2/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/568486e2/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/568486e2/x86/prefab_config.json
/android/app/.cxx/Debug/568486e2/x86_64/prefab_config.json
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/568486e2/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/568486e2/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/568486e2/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/568486e2/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/568486e2/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/568486e2/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/568486e2/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/568486e2/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/
